<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title></title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "admin" %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<div id="menu">
  <ul>
    <li><%= link_to "progress manager","/progresses" %> | <li>
    <li><%= link_to "footprint manager","/footprints" %> | <li>
    <li><%= link_to "user manager","/users" %> | <li>
  </ul>
</div>
<%= yield  %>

</body>
</html>
